<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    &lt;!&ndash; 配置不扫描Controller&ndash;&gt;-->
    <!--    <context:component-scan base-package="com.kay" annotation-config="true">-->
    <!--        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>-->
    <!--    </context:component-scan>-->

    <!--    <aop:aspectj-autoproxy/>-->

    <!--    &lt;!&ndash; 定时任务&ndash;&gt;-->
    <!--    <task:annotation-driven/>-->

    <!--    <import resource="spring-dao.xml"/>-->
    <!--    <import resource="spring-session.xml"/>-->

</beans>