<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    <bean id="redisHttpSessionConfiguration"-->
    <!--          class="org.springframework.session.data.redis.config.annotation.web.http.RedisHttpSessionConfiguration">-->
    <!--        &lt;!&ndash; session 过期时间默认为30分钟&ndash;&gt;-->
    <!--        <property name="maxInactiveIntervalInSeconds" value="1800"/>-->
    <!--    </bean>-->

    <!--TODO 自定义写入的Cookie设置 -->
    <!--<bean id="defaultCookieSerializer" class="org.springframework.session.web.http.DefaultCookieSerializer">
        <property name="cookieName" value="SESSION_NAME"/>
        <property name="cookiePath" value="/"/>
        <property name="domainName" value=".kaymmall.com"/>
        <property name="useHttpOnlyCookie" value="true"/>
        <property name="cookieMaxAge" value="3600*24*365"/>
    </bean>-->

    <!--    &lt;!&ndash; 连接池配置&ndash;&gt;-->
    <!--    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">-->
    <!--        <property name="maxTotal" value="20"/>-->
    <!--    </bean>-->

    <!--    &lt;!&ndash; jedisConnectionFactory&ndash;&gt;-->
    <!--    <bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">-->
    <!--        <property name="hostName" value="127.0.0.1"/>-->
    <!--        <property name="port" value="6379"/>-->
    <!--        <property name="poolConfig" ref="jedisPoolConfig"/>-->
    <!--    </bean>-->
</beans>